<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130578697972-h96g0261v3odsu533m1a0akg7aj9l2ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130578697972-h96g0261v3odsu533m1a0akg7aj9l2ud</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>130578697972-04v5quljmv7us9jinhulfpim3m2kfe6k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCo23UZdGsVv190mSCkuJm3S5KkRjfu1WU</string>
	<key>GCM_SENDER_ID</key>
	<string>130578697972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.honghm.walkingapp</string>
	<key>PROJECT_ID</key>
	<string>walking-app-1eadb</string>
	<key>STORAGE_BUCKET</key>
	<string>walking-app-1eadb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130578697972:ios:2f5d04153ad65134f258a1</string>
	<key>DATABASE_URL</key>
	<string>https://walking-app-1eadb.firebaseio.com</string>
</dict>
</plist>